<div class="grid">
  <%= link_to({ controller: 'finance/admin/taxons' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('finance.admin.taxons.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'finance/admin/assessments' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('finance.admin.assessments.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'finance/admin/funds' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('finance.admin.funds.index.title') %></span>
  <% end %>
</div>
<div class="grid">
  <%= link_to({ controller: 'finance/admin/expenses' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('finance.admin.expenses.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'finance/admin/budgets' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('finance.admin.budgets.index.title') %></span>
  <% end %>
</div>
