<td><%= model.type_i18n %></td>
<td><%= link_to model.subject, {action: 'show', id: model.id } %></td>
<td><%= model.amount %></td>
<td>
  <%= link_to model.proof.filename, rails_blob_path(model.proof, disposition: 'attachment'), target: '_blank' if model.proof.attached? %>
</td>
<td>
  <span class="tag"><%= model.state_i18n %></span>
  <% model.all_verifications.each do |verification| %>
    <p>
      <%= verification.job_title&.name %>
      <%= verification.member&.name %>
      <span class="tag"><%= verification.confirmed_i18n %></span>
    </p>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end if ['init', 'rejected'].include? model.state %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end if ['init', 'rejected'].include? model.state %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to 'History', { controller: 'auditor/admin/audits', audited_type: model.class.base_class.name, audited_id: model.id }, class: 'button is-small is-rounded is-light' %>
  </div>
</td>